body{
	background-color: rgb(242, 242, 242,.5);
}

.jumbotron {
    margin-top: 20px;
    background-image: url("../image/lalala.jpg");
    background-size: 25% 100%;
    text-align: center;
    color: white;
};

.custom-panel {
	margin-top: 60px;
}

.footer {
    background: #072203;
    color: white;
    height:70px;
    text-align: center;
    padding: 10px;
    
};

.footer.contact {
    display: flex;
};

